.container {
  min-height: 100vh;
  gap: 2rem;
}

.container__img {
  width: 50%;
}

.quiz__login {
  height: 100%;
  width: 100%;
}

.quiz__login__header {
  font-size: 10rem;
  font-weight: 600;
  color: var(--beige--primary);
}

.quiz__login input {
  width: 50%;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: 2px solid var(--beige--primary);
}

.btn {
  width: 30rem;
  text-decoration: none;
  color: var(--navy--primary);
  background-color: var(--green--primary);
  padding: 1rem 4rem;
  font-size: 2.6rem;
  text-align: center;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid var(--beige--primary);
  cursor: pointer;
}
